
video {
	min-width: 100%;
	min-height: 100%;
	width: auto;
	height: auto;
	position: fixed;   
	top: 50%;
	left: 50%;
	transform: translateX(-50%) translateY(-50%);  
	z-index: -100;
	background-size: cover;
}

ion-icon {
  color: white;
}


.modal-content {
	background-color: #fff0;
	border: none;
}

.modal-dialog {
	max-width: 617px;
}

.modal-header {
	border-bottom: none;
  }




.close {
	font-size: 1.5rem;
  }
  
  .col-12 img {
	opacity: 0.7;
	cursor: pointer;
	margin: 2rem;
	width: 100%;
  }
  
  .col-12 img:hover {
	opacity: 1;
	  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  }


  .texto-justificado{
	text-align: justify;
}

img {
	width: 1024px;
	height: 720px;
	object-fit: cover;
  }

